body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #0A1626;
  background: rgb(20, 36, 0);
  background: linear-gradient(90deg, rgb(20, 36, 0) 0%, rgb(9, 9, 121) 50%, rgb(0, 0, 0) 100%);
  font-family: "Cabin", sans-serif;
  color: white;
}
body a {
  text-decoration: none;
}

.flex-container {
  display: flex;
}

h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-style: italic;
}

h3 {
  text-align: center;
  font-weight: bold;
}

header p {
  background-color: red;
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
}

#navdesktop {
  visibility: hidden;
}

#navmobile {
  margin-top: -55px;
}

main .flex-container {
  justify-content: center;
}
main img {
  height: 300px;
  width: 404px;
}
main #impresora3d {
  box-shadow: 10px 10px 5px 0px rgba(243, 255, 214, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(243, 255, 214, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(243, 255, 214, 0.75);
  margin: 10px;
}
main h2 {
  color: rgb(0, 0, 0);
  background-color: #F2E313;
  text-align: center;
  margin-bottom: 0;
}
main p {
  margin-top: 0;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: larger;
  background-color: #fffab0;
  color: black;
}
main ul {
  list-style: none;
  text-align: center;
  margin-right: 30px;
}

.imgproductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  margin-top: 2px;
}

.formulario {
  margin-left: 20px;
  margin-right: 20px;
}

.nombreform {
  margin-bottom: 10px;
}

.nombreform h3 {
  font-size: 80%;
}

.generoform {
  font-size: 100%;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* .formulario .form-check{
    background-color: #ece7a2;
    color: black;
    width: 50%; 
} */
.mensajeform {
  margin-bottom: 20px;
}

/* mover mas adelante */
section button {
  background-color: #f7f6f5;
}

/* eso de arriba */
.botonform {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.botonform button {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

footer {
  padding-top: 30px;
  background-color: #F2E313;
}
footer p {
  color: black;
  font-weight: bold;
  text-align: center;
}
footer a {
  justify-content: center;
  text-align: center;
  color: #0540F2;
  font-weight: bold;
  font-style: italic;
  background-color: #ece7a2;
}

@media (min-width: 1024px) {
  main img {
    width: 70%;
    height: 70%;
  }
  .carrusel1024 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120%;
    width: 30%;
    margin-left: 35%;
  }
  #navmobile {
    visibility: hidden;
  }
  #navdesktop {
    visibility: visible;
  }
  nav {
    /*  #logo-ham{
         justify-content: space-between;
         padding: 5px 10px 5px 10px;
         background-color: #203359
     } */
  }
  nav .flex-container {
    background-color: rgba(255, 255, 255, 0.397);
    justify-content: space-between;
  }
  nav .flex-container #secciones {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    color: rgb(255, 0, 0);
    font-size: 200%;
  }
  nav .flex-container #logo3c {
    background-color: rgba(255, 255, 255, 0);
  }
  nav #secciones {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    color: black;
    font-size: 200%;
  }
  .botones {
    justify-content: space-between;
    font-weight: bold;
    border: solid black 1px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    text-align: center;
  }
  .botones:hover {
    background-color: rgba(236, 231, 162, 0.5411764706);
    font-size: larger;
  }
}
#logo-ham {
  justify-content: center;
  background-color: #021373;
  padding: 10px;
}

@media (min-width: 600px) {
  .carrusel1024 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120%;
    width: 50%;
    margin-left: 25%;
  }
}

/*# sourceMappingURL=style.css.map */
