@media (min-width: 600px) {
    .carrusel1024{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 120%;
        width: 50%;
        margin-left: 25%
    }
}