footer{
    padding-top: 30px;
    background-color: #F2E313;
    p{
        color: black;
        font-weight: bold;
        text-align: center;
    }
    a{
        justify-content: center;
        text-align: center;
        color: #0540F2;
        font-weight: bold;
        font-style: italic;
        background-color: #ece7a2;
    }
}