body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #0540F2;
    font-family: "Cabin", sans-serif;
    color: white;
    a{
        text-decoration: none;
    }
}
.flex-container{
    display: flex;
}
h1{
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-style: italic;
}
h3{
    text-align: center;
    font-weight: bold;
}