body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #0A1626;
    background: rgb(20,36,0);
    background: linear-gradient(90deg, rgba(20,36,0,1) 0%, rgba(9,9,121,1) 50%, rgba(0,0,0,1) 100%);
    font-family: "Cabin", sans-serif;
    color: rgb(255, 255, 255);
    a{
        text-decoration: none;
    }
}
.flex-container{
    display: flex;
}
h1{
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-style: italic;
}
h3{
    text-align: center;
    font-weight: bold;
}